# Sheet 1 - Introduction to Python

### Exercise 1

In [18]:
welcome_msg = " Welcome to python programming "
print(welcome_msg)

 Welcome to python programming

### Exercise 2

In [19]:
Bill_Gates_quote = "It’s fine to celebrate success, but it is more important to heed the lessons of failure"
print("Bill Gates Once Said that" + " "+ Bill_Gates_quote)

Bill Gates Once Said that It’s fine to celebrate success, but it is more important to heed the lessons of failure

### Exercise 3

In [20]:
# Addition
X = 10
Y = 0
print(f" Sum of X + Y  is {X + Y}")

 Sum of X + Y  is 10

In [21]:
#Subtraction
print(f" Subtraction of X and Y is {X - Y}")

 Subtraction of X and Y is 10

In [22]:
##Multiplication
Z = 1
print(f" Multiplication of X * Z is {X * Z}")

 Multiplication of X * Z is 10

In [23]:
# Division (cascating float into int)
print(f" Divison of X / Z is {int(X / Z)}")
print(f" Divison of X / Z is {X // Z}")

 Divison of X / Z is 10
 Divison of X / Z is 10

### Exercise 4

In [24]:
friends_list = ['Haneen', 'Amany', 'Rawan', 'Brahim', 'Mona']
friends_list

['Haneen', 'Amany', 'Rawan', 'Brahim', 'Mona']

In [25]:
# Saying Hello for five of your friends listed in a list
for i in friends_list:
    print(f" Hello {i}!")

 Hello Haneen!
 Hello Amany!
 Hello Rawan!
 Hello Brahim!
 Hello Mona!

### Exercise 5

In [32]:
ingredients = []
ingredients.append("Tommato")
ingredients.append("Onion")
ingredients.append("Souce")
ingredients.append("Rise")
ingredients.append("Meet")
for i in ingredients:
    print(f" I add {i} to my favourite Pizza")

 I add Tommato to my favourite Pizza
 I add Onion to my favourite Pizza
 I add Souce to my favourite Pizza
 I add Rise to my favourite Pizza
 I add Meet to my favourite Pizza

### Exercise 6

In [54]:
locations = ['USA', 'Dubai', 'Canada', 'Egypt', 'Siwa']
locations

['USA', 'Dubai', 'Canada', 'Egypt', 'Siwa']

In [67]:
# to sort the locations alphabetically without modifying the original list
print(sorted(locations))
# to print the original list
print(locations)

['Canada', 'Dubai', 'Egypt', 'Siwa', 'USA']
['Siwa', 'Egypt', 'Canada', 'Dubai', 'USA']

In [88]:
# to sort list in reverse alphabetical order modifying of the original list.
print(sorted(locations, reverse = True))

['USA', 'Siwa', 'Egypt', 'Dubai', 'Canada']

In [78]:
# check that the original list hasn't changed
print(locations)

['Canada', 'Dubai', 'Egypt', 'Siwa', 'USA']

In [79]:
# to reverse the order of the original list
locations.reverse()
print(locations)

['USA', 'Siwa', 'Egypt', 'Dubai', 'Canada']

In [80]:
# to reverse back to the original list
locations.reverse()
print(locations)

['Canada', 'Dubai', 'Egypt', 'Siwa', 'USA']

In [84]:
# to sort the locations alphabetically with modifying the original list
locations.sort()
print(locations)

['Canada', 'Dubai', 'Egypt', 'Siwa', 'USA']

In [86]:
# to sort list in reverse alphabetical order modifying of the original list
locations.sort(reverse=True)
print(locations)

['USA', 'Siwa', 'Egypt', 'Dubai', 'Canada']

### Exercise 7

In [92]:
animals = {'Cat','Tiger','Lion'}
for i in animals:
    print(f"{i} has a very soft hair")

Cat has a very soft hair
Tiger has a very soft hair
Lion has a very soft hair

### Exercise 8

In [97]:
cube = []
for i in range(1,11):
    cube.append(i**3)

In [102]:
for i in range(1,11):
    print(f" The cube of {i} is {cube[i-1]} ")

 The cube of 1 is 1
 The cube of 2 is 8
 The cube of 3 is 27
 The cube of 4 is 64
 The cube of 5 is 125
 The cube of 6 is 216
 The cube of 7 is 343
 The cube of 8 is 512
 The cube of 9 is 729
 The cube of 10 is 1000

### Exercise 9

In [107]:
locations = ['USA', 'Dubai', 'Canada', 'Egypt', 'Siwa']
print(f" The first 3 items in the list are: {locations[:3]}")

 The first 3 items in the list are: ['USA', 'Dubai', 'Canada']

In [108]:
print(f"Three items from the middle of the list are꞉ {locations[1:4]}")

Three items from the middle of the list are꞉ ['Dubai', 'Canada', 'Egypt']

In [106]:
print(f" The last 3 items in the list are: {locations[-3:]}")

 The last 3 items in the list are: ['Canada', 'Egypt', 'Siwa']